<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>fictious</title>
    <link href='@Url.Content("~/Static/css/font-awesome.min.css")' rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Vollkorn:400,400i,600,600i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href='@Url.Content("~/Static/css/bootstrap.min.css")' rel="stylesheet">
    <link href='@Url.Content("~/Static/css/main.css")' rel="stylesheet">
    @RenderSection("HeadContent", false)
</head>
<body>
    <div class="wrapper">
        <header class="main_header">
            <div class="container-fluid">
                <div class="header_inner">
                    <div class="logo_side">
                        <h2><a href="index.html">Technology Blog</a></h2>
                    </div>
                    <div class="toggle_box">
                        <button>MENU <i class="fa fa-bars"></i></button>
                    </div>
                    <div class="main_nav">
                        <nav>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About</a></li>
                                <li><a href="post-detail.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div><!--main_nav-->
                </div><!--header_inner-->
            </div>

        </header><!--main_header-->
        <!-- Page Content -->
        @RenderBody();
        <footer class="main_footer">
            <div class="footer_inner">
                <div class="container">
                    <div class="social_links">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!--social_links-->
                    <div class="co_text text-center">
                        <p>Copyright &copy; your website 2019</p>
                    </div><!--co_text-->
                </div><!--container-->
            </div><!--footer_inner-->

        </footer><!--main_footer-->


    </div><!--wrapper-->
    <script src='@Url.Content("~/Static/js/jquery.min.js")'>></script>
    <script src='@Url.Content("~/Static/js/popper.min.js")'>></script>
    <script src='@Url.Content("~/Static/js/bootstrap.min.js")'>></script>
    <script src='@Url.Content("~/Static/js/main.js")'></script>
    @RenderSection("Scripts", false)
</body>
</html>